{% extends 'eventsignup/base.html' %}
{% include 'eventsignup/includes/header.html' %}

{% block center-content %}







<h1 class="title is-1">Tapahtumien hallinta</h1>
  <h2 class="title is-2">Tulevat tapahtumat</h2>
  {% if tulevat_sitsit %}
    <h3 class="title is-3">sitsit</h3>
    <table class="table">
        {% for event in tulevat_sitsit %}

          {% if forloop.counter0|divisibleby:"3" %}
        <tr>
          {% endif %}
          <th>
        <div class="card">
          {% if event.pic %}
          <div class="card-image">

              <img src="{{event.pic.url}}" height="256" width="256">
            {% else %}
            <div class="card-image">

                <img src="{{event.pic.url}}" height="256" width="256">
           {% endif %}

            <div class="media-content is-centered">




                <p class="title is-5 ">{{ event.name }}</p>
                <p class="title is-6">{{ event.date }}</p>
                <footer class="card-footer">
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                </footer>
            </div>
          </div>
         </div>

      </th>

      {% if forloop.counter|divisibleby:"3" %}
    </tr>
      {% endif %}
        {% endfor %}

  </table>
    {% endif %}


    {% if tulevat_ekskursiot %}
      <h3 class="title is-3">ekskurtsiot</h3>
      <table class="table">
          {% for event in tulevat_ekskursiot %}

            {% if forloop.counter0|divisibleby:"3" %}
          <tr>
            {% endif %}
            <th>
          <div class="card">
            {% if event.pic %}
            <div class="card-image">
                <img src="{{event.pic.url}}" height="256" width="256">
             {% endif %}
              <div class="media-content is-centered">
                  <p class="title is-5 ">{{ event.name }}</p>
                  <p class="title is-6">{{ event.date }}</p>
                  <footer class="card-footer">
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                  </footer>
              </div>
            </div>
           </div>

        </th>

        {% if forloop.counter|divisibleby:"3" %}
      </tr>
        {% endif %}
          {% endfor %}
    </table>
      {% endif %}

      {% if tulevat_muutTapahtumat %}
        <h3 class="title is-3">Muut tapahtumat</h3>
        <table class="table">
            {% for event in tulevat_muutTapahtumat %}

              {% if forloop.counter0|divisibleby:"3" %}
            <tr>
              {% endif %}
              <th>
            <div class="card">
              {% if event.pic %}
              <div class="card-image">

                  <img src="{{event.pic.url}}" height="256" width="256">

               {% endif %}
                <div class="media-content is-centered">




                    <p class="title is-5 ">{{ event.name }}</p>
                    <p class="title is-6">{{ event.date }}</p>
                    <footer class="card-footer">
                        <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                        <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                        <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                    </footer>
                </div>
              </div>
             </div>

          </th>

          {% if forloop.counter|divisibleby:"3" %}
        </tr>
          {% endif %}
            {% endfor %}

      </table>

        {% endif %}

  <h2 class="title is-2">Menneet tapahtumat</h2>
  {% if menneet_sitsit %}
    <h3 class="title is-3">sitsit</h3>
    <table class="table">
        {% for event in menneet_sitsit %}

          {% if forloop.counter0|divisibleby:"3" %}
        <tr>
          {% endif %}
          <th>
        <div class="card">
          {% if event.pic %}
          <div class="card-image">

              <img src="{{event.pic.url}}" height="256" width="256">

           {% endif %}
            <div class="media-content is-centered">




                <p class="title is-5 ">{{ event.name }}</p>
                <p class="title is-6">{{ event.date }}</p>
                <footer class="card-footer">
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                    <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                </footer>
            </div>
          </div>
         </div>

      </th>

      {% if forloop.counter|divisibleby:"3" %}
    </tr>
      {% endif %}
        {% endfor %}

  </table>

    {% endif %}
    {% if menneet_ekskursiot %}
      <h3 class="title is-3">Ekskursiot</h3>
      <table class="table">
          {% for event in menneet_ekskursiot %}

            {% if forloop.counter0|divisibleby:"3" %}
          <tr>
            {% endif %}
            <th>
          <div class="card">
            {% if event.pic %}
            <div class="card-image">

                <img src="{{event.pic.url}}" height="256" width="256">

             {% endif %}
              <div class="media-content is-centered">




                  <p class="title is-5 ">{{ event.name }}</p>
                  <p class="title is-6">{{ event.date }}</p>
                  <footer class="card-footer">
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                  </footer>
              </div>
            </div>
           </div>

        </th>

        {% if forloop.counter|divisibleby:"3" %}
      </tr>
        {% endif %}
          {% endfor %}

    </table>

      {% endif %}

    {% if menneet_muutTapahtumat %}
      <h3 class="title is-3">Muut tapahtumat</h3>
      <table class="table">
          {% for event in menneet_muutTapahtumat %}

            {% if forloop.counter0|divisibleby:"3" %}
          <tr>
            {% endif %}
            <th>
          <div class="card">
            {% if event.pic %}
            <div class="card-image">

                <img src="{{event.pic.url}}" height="256" width="256">

             {% endif %}
              <div class="media-content is-centered">




                  <p class="title is-5 ">{{ event.name }}</p>
                  <p class="title is-6">{{ event.date }}</p>
                  <footer class="card-footer">
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Save</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Edit</a>
                      <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" class="card-footer-item">Delete</a>
                  </footer>
              </div>
            </div>
           </div>

        </th>

        {% if forloop.counter|divisibleby:"3" %}
      </tr>
        {% endif %}
          {% endfor %}

    </table>

      {% endif %}


{% endblock %}
