{% extends 'eventsignup/base.html' %}
{% block extra-head %}
{% if desktop %}
<link type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" rel="Stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link type="text/css" href="/static/css/jquery.timepicker.css" rel="Stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script>
    {% endif %}
{% endblock %}
  {% load bulma_tags %}



{% block center-content %}

{% if not choice %}
{#% else %#}
<p>Kuvaukseen ei tarvitse tehdä Mikä-Missä-Milloin osiota. Se luodaan syötettyjen tiedojen pohjalta automaattisesti.</p>
{% if desktop %}
<script type="text/javascript">
 $(function() {
        $("#id_date").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#id_signup_starts").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#id_signup_ends").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#id_end_date").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#id_start_time").timepicker({timeFormat:'H:i'});
 });
</script>
{% endif %}
{% endif %}

<form method="post">
   {% csrf_token %}
   {{ form|bulma }}
    <div class="field is-grouped">
 	 <div class="control">
    <button type="submit" class="button is-link">Lähetä</button>
    </div>

   {% if not choice %}
  <div class="control">
    <button type="reset" class="button is-text">Tyhjennä</button>
  </div>
  {% endif %}
</div>
</form>

{% endblock %}
 {% block right-content %}
<p>Missä olen right</p>
{% endblock %}

{% block left-content %}
<p> MIssä olen left </p>
{% endblock %}
 {% block extra-styles %}

 {% endblock %}
