{% extends 'eventsignup/base.html' %}
{% include 'eventsignup/includes/header.html' %}

{% block center-content %}
    <div class="content">
        {% if edit %}
            Tapahtumaa muokattiin onnistuneesti. Alla olevan esikatselun mukainen sähköposti on lähetetty käyttäjälle rekisteröityyn sähköpostiosoitteeseen. Uniikki ilmoittautumislinkki tapahtumaan on: <a href="{{baseurl}}/event/{{event.uid.uid}}/signup/" target="_blank">{{baseurl}}/event/{{event.uid.uid}}/signup</a>.
        {% else %}
            <p>
                Tapahtuma luotiin onnistuneesti. Alla olevan esikatselun mukainen sähköposti on lähetetty käyttäjälle rekisteröityyn sähköpostiosoitteeseen. Uniikki ilmoittautumislinkki tapahtumaan on: <a href="{{baseurl}}/event/{{event.uid.uid}}/signup/" target="_blank">{{baseurl}}/event/{{event.uid.uid}}/signup</a>.
            </p>
        {% endif %}
        <hr>
        {% if event.pic %}
            <img src={{ event.pic.url }}/ alt={{ event.name }}>
        {% endif %}
        <h1>
            {{ event.name }}
        </h1>
        <p>{{ event.owner }}</p>
        <p>
            {{ event.description | safe }}
        </p>
        <p>Ilmoittaudu tästä: <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" target="_blank">{{baseurl}}/event/{{event.uid.uid}}/signup</a></p>
        {% include 'eventsignup/includes/geninfo.html' %}
    </div>

{% endblock %}
