{% extends 'eventsignup/base.html' %}
{% include 'eventsignup/includes/header.html' %}

{% block center-content %}
<p>
Tapahtuma luotiin onnistuneesti. Alla olevan esikatselun mukainen sähköposti on lähetetty käyttäjälle rekisteröityyn sähköpostiosoitteeseen. Uniikki ilmoittautumislinkki tapahtumaan on: <a href="{{baseurl}}/event/{{event.uid.uid}}/signup/" target="_blank">{{baseurl}}/event/{{event.uid.uid}}/signup</a>.
</p>
<hr>
<h1>
{{ event.name }}
</h1>
<p>Tapahtuman järjestää: {{ event.owner }}</p>
<p>
{{ event.description }}
</p>
<p>Ilmoittaudu tästä: <a href="{{baseurl}}/event/{{event.uid.uid}}/signup" target="_blank">{{baseurl}}/event/{{event.uid.uid}}/signup</a></p>
    {% include 'eventsignup/includes/geninfo.html' %}
{% endblock %}
