{% extends 'eventsignup/base.html' %}
{% block center-content %}
<div class="content">
<h1>Tapahtumailmoittautumisjärjestelmän tietosuojaselvitys</h1>
<ol>
<li>Tapahtumiin osallistujalta kerätään ilmoittautumisen yhteydessä seuraavat tiedot:
<ul>
<li>Nimi.</li>
<li>Sähköpostiosoite.</li>
<li>Muut lomakkeessa kysytyt ja vapaaehtoisesti annetut tiedot.</li>
</ul></li>
<li>Tapahtumien osallistujalistat eivät ole julkisia. Listat ovat ainostaan tapahtumanjärjestäjän ja ylläpidon nähtävissä.</li>
</ol>
</div>
{% endblock %}