{% extends 'eventsignup/base.html' %}
{#% include 'eventsignup/includes/header.html' %#}
{#% load bulma_tags %#}
{% block center-content %}
{% include 'eventsignup/includes/breadcrum.html' %}
{% if cansignup %}

<section class="section">
    <div class="content">
    {% if event.pic %}
    <img src={{ event.pic.url }} alt={{ event.name }} >
    {% endif %}
      <h1 class="title">{{ event.name }}</h1>
      <p>{{ event.owner }}</p>
		<p>{{ event.description | safe }}</p>
    </div>
  </section>
    {% include 'eventsignup/includes/geninfo.html' %}
<hr>
<p>
  <form method="post">
    {% csrf_token %}
    {#{ form|bulma }#}
    {% include 'eventsignup/includes/form_base.html' %}
    {% if quotas %}
    <div class="field">
    <div class="control">
    <label class="label">Valitse ainejärjestösi</label>
<select name="organization">
        {% for x in quotas %}
  		<option value="{{x}}">{{x}}</option>

  {% endfor %}
    <option value="nonmember">Ei Jäsen</option>
  </select> 
</div>
	</div>
    {% endif %}
   <label class="checkbox">
  <input type="checkbox">
  Hyväksyn henkilötietojen käsittelyn <a href="/privacy" target="_blank" onClick="window.open('/privacy','Tietosuojaselvitys','resizable,height=600,width=800'); return false;">tietosuojaperiaatteen</a> mukaisesti.
</label>
     <div class="field is-grouped">
 	 <div class="control">
    <button type="submit" class="button is-rounded is-primary">Ilmoittaudu</button>
    </div>
  <div class="control">
    <button type="reset" class="button is-rounded is-text">Tyhjennä</button>
  </div>
   </div>
  </form>
</p>
{% elif signuppassed %}
<section class="section">
    <div class="container">
    <p> Tapahtumaan {{event.name}} ilmoittautuminen on päättynyt jo.
    </p>
    </div>
  </section>
{% else %}
<section class="section">
    <div class="container">
    <p> Tapahtumaan {{event.name}} ilmoittautuminen ei ole vielä avautunut. Ilmoittautuminen avautuu {{event.signup_starts}}.
    </p>
    </div>
  </section>
{% endif %}
{% endblock %}
