{% extends 'eventsignup/base.html' %}
{% include 'eventsignup/includes/header.html' %}

{% block center-content %}
<!--Tähän kansikuva-->
<h1>
{{ event.name }}
</h1>
<p>Tapahtuman järjestää: {{ event.owner }}</p>
<p>
{{ event.description }}
</p>
<p><h4>Mikä-Missä-Milloin</h4></p>
<p>
<ul>
<li>Mikä: {{ event.name }}</li>
<li>Missä: {{ event.place }}</li>
<li>Milloin: {{ event.date }}</li>
<li>Mitä maksaa: {{ event.prize }}</li>
</ul></p>
<hr>
<p>
<p>Mikä-Missä-Milloin</p><p>
<ul>
GenInfolla haettuna:
{{ event.genInfo() }}
</ul></p><hr>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'eventsignup/includes/form_base.html' %}
    <button type="submit" class="btn btn-success">Lähetä</button> <button type="reset" class="btn btn-outline-secondary">Tyhjennä</button>
  </form>
{% endblock %}
