@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;

$body-background-color: hsl(0, 0%, 48%);
$text: hsl(0, 0%, 100%);
$footer-background-color : #328c46;

//navbar asetukset
//$navbar-height: 10.25rem;
$navbar-background-color: #328c46;

// import rivi aina viimeiseksi riviksi
@import "../bulma-0.7.1/bulma.sass";
